<%- include("static/header.ejs"); %>
    <div class="container px-3 mt-5">
      <div class="columns mt-5 pt-5">
        <div class="column">
          <p class="has-text-white title is-large"><i class="fad fa-handshake has-text-success"></i>&nbsp;Partnerler</p>
          <p class="content has-text-white" style="margin-top: -20px;">Partnerler aşağıda sıralanmıştır! Burada olmak isterseniz bize ulaşabilirsiniz</p>
        </div>
        <div class="column">
          <!--<img draggable="false" class="has-text-centered centered" style="width: 90%;" src="https://cdn.discordapp.com/attachments/794310443635310653/796808108797329438/Untitled-1.png">-->        </div>
      </div>
    
      <div class="columns is-multiline is-desktop is-variable is-7 mt-5 pt-5">
          <div class="column is-3 mb-5">          
            <div class="box botCard bg-dark">
              <div>
                <div class="is-inline-block">
                  <span class="tag is-dark mt-1 w-100"><i class="fad fa-user-crown"></i>&HypNos ᴴᵒⱽ#2018</span>
                  <br>
                </div>
                <img draggable="false" onerror="imgError(this);" src="https://cdn.discordapp.com/icons/745397056440500240/a_c9034e7774931d3c9c4090eaba5592d7.gif?size=1024" class="is-pulled-right	cardBotImg z">
              </div>
              <p class="cardBotName has-text-white mt-5">Devils Botlist</p>   
              <p class="cardBotDesc mt-1">Buranın diğer kurucusunun sunucusu olan Devils'e katılmayı unutmayın!</p>
              <div class="cardButtons is-flex">
                  <a href="https://discordb.fun" target="_blank" class="cardBtn1"><i class="fad fa-globe"></i>&nbsp;Website</a>
                  <a href="https://discord.gg/8XwTZnUzkY" target="_blank" class="cardBtn2"><i class="fab fa-discord"></i>&nbsp;Discord</a>
              </div>
            </div>
        
        </div>
    </div>
      </div>
         </div>
        </div>
    <%- include("static/footer.ejs"); %>
    