<%- include("static/header.ejs"); %>
    <div class="container px-3 mt-5">
      <div class="columns mt-5 pt-5">
        <div class="column">
          <p class="has-text-white title is-large"><i class="fad fa-users has-text-warning"></i>&nbsp;Founders</p>
          <p class="content has-text-white" style="margin-top: -20px;">SunLight Botlist</p>
          
          <div class="mt-5 pt-5">
            
            <div class="columns is-multiline">

                <div class="is-4 column">
                 <div class="box bg-dark is-flex pb-2">
                        <div>
                        <a href="https://discordlist.fun/user/712911079268810815"><img style="border-radius: 50%; width: 75px;" src="https://api.slushie.gg/avatar/712911079268810815" class="pulse-purple" draggable="false"></a>
                        </div>
                        <div class="ml-3 mt-3">
                            <p class="is-size-5">lapetxs#1337</p>
                            <p class="is-size-7">Founder / Developer</p>
                        </div>
                    </div>
                </div>
                <div class="is-4 column">
                    <div class="box bg-dark is-flex pb-2">
                        <div>
                        <a href="https://discordlist.fun/user/783410602755620935"><img style="border-radius: 50%; width: 75px;" src="https://api.slushie.gg/avatar/783410602755620935?format=gif" class="pulse-skyblue" draggable="false"></a>
                        </div>
                        <div class="ml-3 mt-3">
                            <p class="is-size-5">HypNos ᴴᵒⱽ#2018</p>
                            <p class="is-size-7">Founder / Developer</p>
                        </div>
                    </div>
                </div>
              


        </div>

          </div>

        </div>
        </div>
      </div>
  
    <%- include("static/footer.ejs"); %>