<br id="br" />
<br id="br" />
<br id="br" />
<br id="br" />
<div class="z bg-dark footer pt-5 pb-3 pl-5 pr-4" style="padding:0;vertical-align: middle;">
      <div class="columns mt-5">
        <div class="column is-6">
          <h1 class="is-size-3 text-white">Sunlight & Devils </h1>
          <p class="has-text-white" style="opacity: 0.5;"><script>
            document.write(new Date().getFullYear());
          </script>&nbsp;Cloud Company Botlist<br />All our rights are reserved. Not affiliated with Discord, Inc.</p>
        </div>
        <div class="column">
  
     
      
        </div>
        <div class="column">
          <b class="has-text-light is-uppercase">Linkler</b>
          <br />
          <a class="has-text-light" href="/partners">Partners</a><br />
          <a class="has-text-light" href="/bots">Bots</a><br />
          <a class="has-text-light" href="/tags">Tags</a>
        </div>
        <div class="column">
          <b class="has-text-light is-uppercase">Contact on Discord</b>
          <br />
          <a class="has-text-light" href="https://discord.com/users/712911079268810815">lapetxs#1337</a><br />
        </div>
      </div>
      <div class="hr mt-5 "></div>
      <p class="has-text-centered mt-5 mb-4">2021 | Sunlight & Devils Clôud  <a class="has-text-info" href="https://discord.gg/75ZUHEKQrM"></a>&nbsp;&&nbsp;<a class="has-text-info" href="https://discord.gg/75ZUHEKQrM">Company</a>.</p>
</div>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script>
          tippy('.tippy', {arrow: true,animation: 'scale',});
    </script>
  </body>
</html>